# Ignore log files
*.csv
*.out
*.log
*.py
*.txt
*.iml
*.xml
*.run.xml
*.class

# Ignore node_modules directory
ex1/build/
ex1/input/
ex1/output/
ex2/build/
ex2/input/
ex2/output/
ex3-4/classes/
ex3-4/input/

.vscode/
.idea/
out/
.run/
